@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900");
.wahl_land, .city, .zip, .coupon_text, .form_ship {
  height: 45px;
  border: 1px solid #eaeaea;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 20px;
  width: 319px; }

.country, .city, .zip, .coupon_text, .form_ship {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  line-height: 45px; }

.shipping_h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.block_h4, .input_check, .form_h6 {
  color: #222222;
  font-weight: 400;
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.wrapper {
  width: 1140px;
  margin: 0 auto; }

.head {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #fff;
  display: flex;
  align-items: center; }

.head_left {
  display: flex;
  align-items: center; }

.head_right {
  display: flex;
  align-items: center; }

.logo {
  margin-right: 13px;
  transition: all .4s; }

.logo:hover {
  transform: scale(1.2); }

.brand {
  color: #222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin-right: 37px;
  transition: all .4s; }

.brand:hover {
  transform: scale(1.2); }

.brand_d {
  color: #f16d7f;
  font-weight: 400;
  letter-spacing: 0.68px; }

.browse {
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  padding: 12px 8px 12px 14px;
  display: flex;
  align-items: center; }

.browse:after {
  content: '';
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #838383 transparent transparent transparent;
  margin-left: 8px; }

.cart {
  display: flex;
  align-items: center;
  margin-right: 6px;
  transition: opacity 0.7s; }

.cart:hover {
  opacity: 0.5; }

.button_cart {
  padding: 20px;
  z-index: 2; }

.button {
  background-color: #f16d7f;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  padding: 13px 19px;
  border: none;
  transition: background-color 1s; }

.button:hover {
  color: black; }

.button:active {
  background-color: white;
  color: #f16d7f; }

.head_left loop {
  display: flex;
  align-items: center; }

.form_head {
  width: 317px;
  height: 38px;
  color: black;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px; }

.form_head .loop {
  background-color: #ffffff;
  width: 41px;
  height: 42px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-image: url(img/look_for.png);
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  padding: 11px; }

.menu_link {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 20px; }

.menu_link:hover {
  color: #f16d7f; }

.menu_link:active {
  color: #f16d7f; }

.menu {
  display: flex;
  justify-content: center; }

.header_menu {
  background-color: #fff;
  height: 62px; }

.promo {
  height: 613px;
  background-color: #e8e8e8; }

.promotion {
  height: 100%;
  background-image: url(img/layer1.jpg);
  background-position: 0 -52px; }

.promo_h2 {
  color: #222;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 51px;
  margin-bottom: 20px; }

.promo_h3 {
  color: #222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 35px; }

.promo_h3 span {
  color: #f16d7f; }

.promo_text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 19px; }

.special {
  padding-top: 98px;
  display: flex; }

.trend_left {
  width: 185px; }

.trend_right {
  width: 262px; }

.deal1 {
  height: 542px;
  margin-bottom: 20px;
  background-image: url(img/hot_deal_men.jpg); }

.deal2 {
  height: 262px;
  background-image: url(img/little_trends.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #dadad2; }

.deal3 {
  height: 261px;
  margin-bottom: 20px;
  background-image: url(img/30offer_women.jpg); }

.deal4 {
  background-image: url(img/new_kids.jpg);
  height: 542px; }

.cold {
  color: #222;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.45px; }

.hot {
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px; }

.desc {
  background-color: #fff;
  width: fit-content;
  position: absolute;
  margin-top: 26px;
  transition: all .5s; }

.desc:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  border: 5px solid #f16d7f;
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 100% 20px; }

.desc a h3 {
  padding-top: 16px;
  padding-left: 19px;
  padding-right: 19px; }

.desc a h2 {
  padding-bottom: 16px;
  padding-left: 19px;
  padding-right: 19px; }

.shop-img {
  padding-top: 39px; }

.items {
  color: #222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-align: center;
  padding-bottom: 16px; }

.description {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
  padding-bottom: 24px; }

.catalog {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between; }

.item {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 0 17px 14px; }

.price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 14px;
  padding-bottom: 21px; }

.catalog_li {
  margin-top: 39px;
  position: relative;
  width: 261px;
  transition: box-shadow .4s; }

.catalog_li:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.catalog_li:hover .add {
  display: block; }

.catalog_li:hover .product-img {
  filter: brightness(50%); }

.product-img {
  height: 280px;
  width: 261px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s; }

.catalog li:nth-child(4) a:first-child .product-img,
.catalog li:nth-child(6) a:first-child .product-img,
.catalog li:nth-child(9) a:first-child .product-img {
  background-color: #e9e9e9;
  background-size: contain; }

.catalog li:nth-child(5) a:first-child .product-img {
  background-size: cover; }

.add {
  width: 123px;
  height: 39px;
  display: none;
  border: 1px solid #fff;
  position: absolute;
  left: 60px;
  top: 98px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
  line-height: 39px;
  background-image: url(img/addtocart_small.png);
  background-repeat: no-repeat;
  background-position: 20px center; }

.add:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f; }

.add:active {
  color: #898989;
  border: 1px solid #898989; }

.shop {
  display: flex;
  justify-content: center;
  margin-top: 79px;
  margin-bottom: 113px; }

.offer_left {
  background-image: url(img/offer.jpg);
  height: 100%;
  background-repeat: no-repeat;
  width: 767px; }

.offer {
  height: 529px;
  display: flex;
  margin-bottom: 97px; }

.offer_right {
  background-color: #222224;
  height: 100%;
  width: 375px;
  color: #fbfbfb;
  display: flex; }

.offer_text {
  margin-top: 146px;
  margin-left: 39px; }

.offer1 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px; }

.offer1 span {
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 1.5px;
  /* Text style for "OFFER" */
  color: #f16d7f; }

.offer2 {
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.9px; }

.offerh4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-bottom: 17px;
  text-transform: uppercase;
  text-align: center; }

.offerp {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
  text-align: center; }

.offer_img_left {
  margin-top: 48px;
  margin-left: 36px; }

.img_1 {
  margin-bottom: 124px; }

.img_2 {
  margin-bottom: 114px; }

.offer_text_right {
  margin-top: 55px;
  margin-left: 33px; }

.subscribe {
  background-image: url(img/subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 438px;
  width: 1600px;
  margin: 0 auto; }

.citate_p {
  width: 384px;
  margin-top: 123px;
  padding-left: 28px;
  float: left;
  margin-bottom: 19px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px; }

.citate_img {
  margin-top: 114px;
  float: left;
  margin-left: 230px; }

.citate {
  display: inline-block; }

.citate_h4 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-left: 344px; }

.citate_h6 {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-left: 344px; }

.subscribe_right {
  float: right; }

.sub_r_h3 {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 44px;
  margin-top: 148px;
  padding-left: 77px; }

.sub_r_h4 {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  margin-right: 385px;
  margin-bottom: 35px; }

.form_sub {
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  width: 260px;
  height: 46px;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -50px; }

.button_sub {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding: 18px 20px; }

.button_sub:hover {
  color: black; }

.button_sub:active {
  background-color: #efefef;
  color: #f16d7f; }

.footer {
  width: 1600px;
  margin: 0 auto;
  margin-top: 123px;
  display: flex; }

.target {
  margin-top: 29px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px; }

.footer_h2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px; }

.footer_a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px; }

.footer_a:hover {
  border-bottom: 2px solid #f16d7f; }

.footer_a:active {
  color: #f16d7f; }

.footer_menu {
  display: flex;
  margin-top: 14px; }

.footer_left {
  width: 427px;
  margin-left: 229px; }

.nav_foot li {
  margin-bottom: 25px; }

.footer_menu ul:first-child {
  margin-left: 64px; }

.footer_menu ul:nth-child(2) {
  margin-left: 129px; }

.footer_menu ul:nth-child(3) {
  margin-left: 80px; }

.footer_grey {
  background-color: #e6e6e6;
  height: 79px;
  margin-top: 40px;
  display: flex; }

.footer_rights {
  display: flex;
  align-items: center;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px; }

.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social {
  display: flex; }

.social_f {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid  #ffffff;
  margin-right: 8px;
  font-size: 30px;
  color: #b2b2b2; }

.social_f:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f; }

.social_f:active {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: #f16d7f; }

.brand_intext {
  display: flex;
  align-items: center; }

.items_product_page {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 72px;
  text-align: center; }

.new_arrival {
  display: flex;
  justify-content: space-between; }

.new_arrival_h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start; }

.breadcrumb {
  display: flex;
  color: #636363; }

.breadcrumb > li + li:before {
  content: ' / '; }

.breadcrumb li a {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase; }

.breadcrumb li a:active {
  color: #f16d7f; }

.breadcrumb li:last-child a {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.new_arrival_product {
  background-color: #f8f3f4;
  height: 148px;
  display: flex;
  align-items: center; }

.product_big_img_back {
  background-image: url(img/moschino_cheap_and_chic1.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.prod_page_img {
  background-color: #f7f7f7;
  height: 777px;
  position: relative; }

.prod_info {
  height: 730px;
  background-color: white;
  border: 1px solid #eaeaea;
  position: relative;
  top: -80px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.prod_info_h3 {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 73px;
  text-align: center;
  margin-bottom: 14px; }

.prod_info_h2 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 67px; }

.prod_lines {
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
  width: 147px;
  text-align: center; }

.prod_info_p {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  width: 618px;
  height: 60px; }

.prod_info_h1 {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block; }

.prod_info_cot {
  color: #2f2f2f; }

.prod_info_mat1 {
  margin-right: 44px; }

.price_prod {
  width: 642px;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  margin-top: 37px;
  padding-bottom: 43px;
  border-bottom: 1px solid #eaeaea;
  text-align: center; }

.choose {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px; }

.prod_param {
  margin-top: 63px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

select {
  width: 134px;
  height: 35px;
  display: flex;
  border: 1px solid #eaeaea;
  background-color: #fff; }

.choose_size {
  margin-left: 53px; }

.choose_qty {
  margin-left: 53px; }

.addtocart_prod {
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-image: url(img/add_to_cart_rose.png);
  background-position: 190px center;
  background-size: 26px;
  background-repeat: no-repeat;
  margin-top: 28px;
  margin-left: 50px;
  margin-right: 50px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700; }

.addtocart_prod:hover {
  outline: 1px solid #ef5b70; }

.addtocart_prod:active {
  outline: 1px solid #5e5e5e;
  border: 1px solid #5e5e5e;
  color: #5e5e5e; }

.products_prod {
  padding-bottom: 73px; }

.product-img_prod {
  height: 280px;
  width: 261px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f7f7f7; }

.catalog_li:hover .product-img_prod {
  filter: brightness(50%); }

.drop_menu {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 24px;
  position: absolute;
  display: none;
  margin-left: -10px;
  margin-top: -9px; }

.drop_menu:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 50px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8; }

.menu_list {
  position: relative;
  z-index: 1; }

.menu_list:hover .drop_menu {
  display: flex; }

.drop_link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px; }

.drop_link:hover {
  color: #f16d7f; }

.drop_h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8; }

.drop-flex {
  width: 235px;
  margin-right: 46px; }

.drop-flex:last-of-type {
  margin-right: 0; }

.a_with_drop_menu:hover .drop_menu {
  left: -50px; }

.button_browse {
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px; }

.drop_browse {
  margin-left: 0;
  margin-top: 9px;
  flex-direction: column; }

.drop_flex_browse {
  margin-right: 0; }

.drop_browse:before {
  left: 70px; }

.drop-flex-folge {
  margin-top: 30px; }

.drop_menu_end:before {
  left: 160px; }

.drop_cart {
  padding: 0 17px;
  margin-left: -40px;
  margin-top: 20px; }

.drop-flex-cart {
  width: 222px;
  padding-bottom: 20px; }

.drop_cart_li {
  height: 90px;
  border-bottom: 1px solid #ededed;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between; }

.text_cart_up {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }

.price_cart_up {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 34px; }

.cart_li_left {
  margin-right: 15px;
  width: 72px;
  height: 85px; }

.cart_li_center {
  margin-right: 14px; }

.cart_li_right {
  margin-right: 15px;
  display: flex;
  align-items: center; }

.cat_right {
  width: 846px;
  margin-left: 50px; }

.del_cart {
  text-align: center; }

.total_cart_oben {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between; }

.button_pos_cart {
  display: flex;
  flex-direction: column; }

.but_cart_oben {
  margin-top: 11px; }

.products_cat {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  margin-bottom: 43px; }

.menu_left {
  width: 243px; }

.sub_menu {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 12px 0 15px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 3px solid #ef5b70;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.sub_menu:hover {
  color: #ef5b70; }

.sub_menu:after {
  content: '';
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #838383 transparent transparent transparent;
  margin-right: 10px; }

.sub_menu:hover:after {
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent #ef5b70 transparent; }

.sub_menu_ul {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-left: 12px;
  transition: all 1.5s; }

.nav_left {
  display: flex;
  flex-direction: column; }

.nav_left_li {
  position: relative;
  z-index: 1;
  margin-bottom: 18px; }

.nav_left_li:hover .sub_menu_ul {
  display: block;
  height: 440px; }

.nav_left_li:active .sub_menu_ul {
  display: block; }

.sub_menu_li a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px; }

.sub_menu_li a:hover {
  color: #ef5b70; }

.re {
  width: 47px;
  height: 38px;
  display: none;
  border: 1px solid #fff;
  position: absolute;
  left: 60px;
  top: 150px;
  padding-right: 20px;
  background-image: url(img/re.png);
  background-repeat: no-repeat;
  background-position: center; }

.catalog_li:hover .re {
  display: block; }

.re:hover {
  border: 1px solid #f16d7f; }

.like {
  width: 47px;
  height: 38px;
  display: none;
  border: 1px solid #fff;
  position: absolute;
  left: 136px;
  top: 150px;
  padding-right: 20px;
  background-image: url(img/like.png);
  background-repeat: no-repeat;
  background-position: center; }

.like:hover {
  border: 1px solid #f16d7f; }

.catalog_li:hover .like {
  display: block; }

.button_view {
  width: 150px;
  height: 44px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff; }

.button_view:hover {
  color: #6f6e6e;
  border: 1px solid #6f6e6e; }

.view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px; }

.offer_horizontal {
  display: flex;
  justify-content: space-between;
  height: 341px;
  color: #fbfbfb;
  padding-top: 89px; }

.condition {
  background-color: #222224; }

.img_top_center {
  display: flex;
  justify-content: center;
  padding-bottom: 23px; }

.img_top_left {
  display: flex;
  justify-content: center;
  padding-bottom: 32px; }

.img_top_right {
  display: flex;
  justify-content: center;
  padding-bottom: 29px; }

.cat_trend {
  display: flex;
  justify-content: space-between; }

.trend_left_h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }

.trend_center {
  width: 245px;
  margin-left: 50px; }

.trend_left_a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border-right: 1px solid #dfdfdf;
  padding-right: 10px;
  padding-left: 10px; }

.trend_left_a:hover {
  color: #ef5b70; }

.trend_left_ul {
  display: flex;
  flex-flow: row wrap; }

.pad {
  padding-left: 0; }

.bord {
  border-right: none; }

input[type=checkbox] {
  display: none; }

.checkbox label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid #ebebeb;
  background-color: #ffffff; }

.checkbox {
  line-height: 20px; }

label {
  display: inline-block;
  cursor: pointer;
  padding-right: 18px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

input[type=checkbox]:checked + label:before {
  content: "&#10004";
  font-size: 13px;
  text-align: center;
  line-height: 15px;
  color: #ef5b70; }

.sort {
  background-color: #f3f3f3;
  width: 846px;
  height: 50px;
  margin-top: 41px; }

.pages {
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin-left: 290px;
  padding: 0 15px; }

.pagination {
  display: flex;
  justify-content: space-between; }

.page_a {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px; }

.active {
  color: #ef5b70; }

.next {
  color: #ef5b70; }

.previous {
  color: #ef5b70; }

.trend_left_special {
  width: 560px;
  margin-right: 20px; }

.trend_right_special {
  width: 560px; }

.offerh4_spec {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-bottom: 17px;
  text-transform: uppercase; }

.offerp_spec {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  padding-bottom: 50px;
  line-height: 24px; }

.offer_text_spec {
  margin-top: 55px;
  margin-left: 39px; }

.head_prod_details {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  padding-bottom: 20px; }

.prod_details {
  margin-top: 90px;
  margin-bottom: 44px; }

.cart_table {
  margin-top: 90px;
  margin-bottom: 44px;
  border-collapse: collapse; }

.name_item {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }

.items_cart {
  height: 165px; }

.param_item {
  color: #575757;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px; }

.param_item_1 {
  margin-top: 38px; }

.unit_price3 {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid #eaeaea; }

.qty4 {
  text-align: center;
  padding: 0 30px;
  border-bottom: 1px solid #eaeaea; }

.ship5 {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #eaeaea; }

.subtotal6 {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid #eaeaea; }

.action7 {
  width: 119px;
  text-align: center;
  border-bottom: 1px solid #eaeaea; }

.del {
  color: #c0c0c0; }

.head_tab {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px; }

.col1 {
  width: 135px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.col2 {
  width: 410px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.col3 {
  width: 119px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.col4 {
  width: 119px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.col5 {
  width: 119px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.col6 {
  width: 119px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.col7 {
  width: 119px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px; }

.details1 {
  border-bottom: 1px solid #eaeaea; }

.details2 {
  border-bottom: 1px solid #eaeaea; }

.XLL {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px; }

.qty_cart_tab {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #656565;
  text-align: center;
  width: 54px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.clear_cart {
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  line-height: 50px;
  background-color: #ffffff;
  padding: 0 39px;
  height: 50px; }

.clear_cart:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f; }

.cart_buttons {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px; }

.user_daten {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px; }

.daten_left {
  margin-right: 35px;
  width: 355px; }

.daten_h3 {
  /* Style for "Shipping A" */
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.country {
  text-align: center;
  display: flex;
  align-items: center; }

.country:after {
  content: '';
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #838383 transparent transparent transparent;
  margin-left: 250px; }

.wahl_land {
  margin-top: 22px; }

.quote {
  height: 45px;
  border: 1px solid #eaeaea;
  line-height: 45px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px; }

.quote:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f; }

.daten_center {
  width: 355px; }

.coupon_p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 28px;
  margin-bottom: 24px; }

.daten_right {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 43px; }

.sub_total_h6 {
  margin-top: 40px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase; }

.grand_total_h4 {
  margin-top: 14px;
  width: 275px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 22px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 17px;
  text-align: end; }

.checkout_cart {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f16d7f;
  height: 50px;
  padding: 0 42px;
  text-align: center;
  line-height: 50px;
  transition: background-color 1s; }

.checkout_cart:hover {
  color: black; }

.checkout_cart:active {
  background-color: #f5f3f3;
  color: #f16d7f; }

.grand_total_rose {
  color: #f16d7f; }

.shipping {
  margin-bottom: 93px; }

.shipping_block1 {
  margin-top: 89px;
  padding-bottom: 79px;
  border-bottom: 1px solid #e8e8e8; }

.blocks {
  display: flex; }

.block1_right {
  margin-left: 35px;
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  width: 300px; }

.block_h4 {
  font-size: 13px; }

.block_h6 {
  margin-top: 15px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px; }

.input_check {
  font-size: 12px;
  margin-left: 14px; }

.check_radio1 {
  margin-top: 30px;
  margin-bottom: 20px; }

.check_radio2 {
  margin-bottom: 33px; }

.ship_but {
  width: 180px;
  padding: 0;
  margin-top: 32px; }

.block1_left {
  margin-left: 250px;
  margin-top: 39px;
  width: 360px; }

.form_h6 {
  font-size: 12px;
  margin-bottom: 16px;
  margin-top: 23px; }

.cart_pass {
  padding-top: 19px;
  padding-bottom: 19px; }

.rot_h5 {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px; }

.forgot_pass {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 32px; }

.ship_h2_close {
  padding: 33px 0;
  border-bottom: 1px solid #e8e8e8; }

/*# sourceMappingURL=style.css.map */
